@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,700');

// fonts
$base-font: 'Source Sans Pro', sans-serif;
$accent-font: 'Merriweather', serif;

$fsize1: 6.854rem;
$fsize2: 4.236rem;
$fsize3: 2.618rem;
$fsize4: 1.618rem;
$fsize5: 1.118rem;
$fsize6: 0.818rem;
$fsize7: 0.718rem;

// base colors
$base-black: #333333;
$base-white: #F3F3F3;
$base-gray: #808080;

// main colors
$color1: #594743; 
$color2: #504E49;
$color3: #A4A199;
$color4: #E5B560;
$color5: #D8CCAD;

// social media colors
$facebook-color: #3b5998;
$youtube-color: #e52d27;
  